<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Image Gallery</title>
      <!-- Include Bootstrap CSS and your custom CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/custom.css">
   </head>
   <body>
      <div class="container">
         <h1>Image Gallery</h1>
         <div class="row">
            {% for image in images %}
            <div class="col-md-4 mb-4">
               <div class="card">
                  <img src="/uploads/{{image['user_id']}}/{{image['filename']}}"  class="card-img-top" alt="Image">
                  <div class="card-body">
                     <form method="POST" action="{{ url_for('delete_image', image_id=image[0]) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                     </form>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </body>
</html>