<html>  
   <body align="center">  
    <h3>Update Your Details.</h3>  
        <form action = "/profile" >  
        <p>LastName <input type = "text" name="lastname" placeholder="lastname" required/></p>  
        <p>FirstName <input type = "text" name="firstname" placeholder="firstname" required/></p>  
        <p>Mobile <input type = "text" name="mobile" placeholder="123456789" maxlength="9" required /></p>
        <p>City <input type = "text" name="city" required/></p>
        <h1> Email: {{email}}</h1>
        <br>
         <!-- <p class="bottom"><a class="bottom" href="{{url_for('profile')}}"></a></p>
         <p><input type = "submit" value = "Update" /></p>  -->
        </form>  
    </body>  
</html>  