<html>
{% include 'head.html' %}

<body>
   {% include 'navigation.html' %}
</div>
<div class="container">
   <h2>Image Gallery</h2>
   <form action="/gallery" method="post" enctype="multipart/form-data">
      <input type="file" name="file" multiple required/>
      <input type="submit" value="Upload">
   </form>
   <div class="row">
      {% for image in images %}
      <div class="col-md-4">
         <div class="thumbnail">
            <a href="/uploads/{{ image['user_id'] }}/{{ image['filename'] }}" target="_blank">
               <img src="/uploads/{{ image['user_id'] }}/{{ image['filename'] }}" alt="images" style="width: auto; height: 195px;">
                  <form method="POST" action="/delete/{{image['user_id']}}/{{image['filename']}}">
                     <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
               </div>
            </a>
         </div>
      </div>
      {% endfor %}
   </div>
   <div class="container">
   <div class="row">
    {% for video in videos %}
    <div class="col-md-4">
       <div class="thumbnail">
        <video width="200" height="200" controls>
         <source src="/uploads/{{video['user_id']}}/{{video['filename']}}"  >
          <a href="/uploads/{{video['user_id']}}/{{video['filename']}}" target="_blank"> </a>
         </video>
         <form method="POST" action="/delete/{{video['user_id']}}/{{video['filename']}}">
            <button type="submit" class="btn btn-danger">Delete</button>
         </form>
         </div>
         
       </div>
    </div>
    {% endfor %}
 </div>
</div>
</body>
</html>