
<!DOCTYPE html>
<html>
    
   <body>
    <div class="nextPreviousButtons">
        <a href="gallery" class="previous round"><h4>previous</h4></a>
        <a href="home" class="next round"><h4>next</h4></a>
      </div>
    <div class="container-fluid">
        <div id="header">
         <form method="POST" action="/download">
          <center><h1>INSTA<span style="color: red">DOWNLOAD</span></h1></center>
          <center><h4>Instagram photo and video downloader</h4></center>
          
          <div class="mb-3 mt-3">
            <label for="url">Enter Instagram Video Url:</label>
            <input type="text" placeholder="Enter url" name="url">
            <button type="submit"  class="btn btn-primary">Download</button>
        </div>          
        </div>
        <center><p><strong>Psst .. </strong>Make sure that the video is public before trying to download it!</p>
      </div>  
          <center><div id="footer" style="font-size: 25px; font-family: Handlee; color: rgb(19, 3, 3);">Designed & Programmed by <a href="https://www.linkedin.com/in/svishnu-vardhan-90a5b7221/">Vishnu</a></div></center>
        </form>
  </body>
  </html>