<!DOCTYPE html>

<html>

 

<body>

  <form action="http://localhost:5000/login" method="POST">

    <table>

       

        <tr><td>Email</td>

            <td><input style="align-content: center;" type="email" name="email1"></td></tr>

       

        <tr><td>Password</td>

            <td><input style="align-content: center;"type="password" name="password"></td></tr>

        <tr><td><input type="submit" value="login"></td></tr>
        <p class="bottom">Register: <a class="bottom" href="{{url_for('register')}}">Sing Up here</a></p>

    </table>

    </form>

 

</body>

</html>