<nav class="navbar navbar-default">
  <div class="container-fluid">
     <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">M</a> -->
     </div>
     <ul class="nav navbar-nav">
        <li class="active"><a href="home">Home</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a></li>
        <li><a href="profilenew">EditProfile</a></li>
        <li><a href="gallery">Gallery</a></li>
        <li><a href="instad">InstaD</a></li>
        <li><a href="ut">YouTubeD</a></li>
        <li><a href="audio">Audio</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
       
     </ul>
  </div>
</nav>