<html>
    {% include 'head.html' %}
    <body>
        {% include 'navigation.html' %}
<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        <form action="/profilenew" method="POST"class="form-horizontal"  role="form">
            {% if users is defined and users %}
            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <input type="hidden" class="form-control" name="user_id" value="{{users['personid']}}">
                </div>
              </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">LastName:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="lastname" value="{{users['lastname']}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">FirstName:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="firstname" value="{{users['firstname']}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Mobile:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="mobile" value="{{users['mobile']}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="city" value="{{users['city']}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="email" value="{{users['email']}}">
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-8">
                <button type="submit" class="btn btn-primary px-4">Update</button>
            </div>
        </div>
        </form>
      </div>
  </div>
</div>
<hr>
</body>
</html>