<html>
  
   <body align="center">
      <h3>Please Enter Your Details</h3>
      <form action = "/register" method = "POST" id="register-form">
         <p>LastName :<input type = "text" name="lastname" placeholder="lastname" required/></p>
         <p>FirstName :<input type = "text" name="firstname" placeholder="firstname" required/></p>
         <p>Email_ID :<input type ="email" name="email" placeholder="user@email.com" required/></p>
         <p>Mobile_No :<input type = "text" name="mobile" placeholder="123456789" maxlength="9" required /></p>
         <p>Location :<input type = "text" name="city" required/></p>
         <p>Password :<input type = "password" name = "password" required /></p>
         <input type="hidden" name="register">
         <br>
         <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
         <p><input type = "submit" value = "register" /></p>
         <div>
         {% if message  %}
         <h1> {{message}}!</h1>
         {% endif %}
         <div>
      </form>
   </body>
</html>